@import url(https://fonts.googleapis.com/css2?family=Kosugi&family=Kosugi+Maru&family=RocknRoll+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* reset CSS */

body {
  font-family: 'RocknRoll One', sans-serif;
  background-size: cover;
  min-height: 100vh;
  color: #111;
  overflow-y: hidden;
}

#container {
  /* background-color: rgba(248, 235, 0, 0.9);
  background-color: rgba(1, 173, 221, 0.5); */
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#container:after {
  content: "";
  width: 100%;
  height: 100%;

  /* background: url("../images/Dot-blue-2.jpg"); */
  background-size: cover;
  opacity: 0.1;

  position: absolute;
}

.container-inner {
  padding-top: 220px;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.logo_area {
  position: absolute;
  top: 0;
  height: 220px;
  display: flex;
  align-items: center;
}

.logo_area .logo {
  width: 350px;
  height: 170px;
  margin: 25px;
  margin-left: 50px;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_area .logo .logo-img {
  width: 100%;
}

.next-information-box {
  background-color: rgba(255,255,255,.5);
  margin: 0 auto;
  width: 100%;
  padding: 30px 30px 20px;
  position: absolute;
  bottom: 0px;
  padding-left: 630px;
  font-weight: bold;
  color: rgb(255, 230, 0);
  text-shadow:2px 2px 0 #143c7d, -2px -2px 0 #143c7d,
  -2px 2px 0 #143c7d, 2px -2px 0 #143c7d,
  0px 2px 0 #143c7d,  0 -2px 0 #143c7d,
  -2px 0 0 #143c7d, 2px 0 0 #143c7d;
}

body { 
  background-image: none;
  background-color: #111;
}


.next-information-box .next-information-box-heading {
  position: absolute;
  top: -80px;
  left: 0;
  font-size: 50px;
  padding: 10px 40px;
  height: 70px;
  border-radius: 35px;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-information-box .next-information-box-flex:last-child {
  margin-bottom: 0px;
}

.next-information-box .next-information-box-gametitle {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 60px;
}

.next-information-box .next-information-box-gametitle * {
  max-width: 600px;
  display: flex;
  align-items: flex-end;
}

.next-information-box .next-information-box-gametitle span {
font-size: 40px;
}

.next-information-box .next-information-box-gametitle span.category {

  font-size: 30px;
}

.next-information-box .next-information-box-gametitle-span {
  padding-left: 50px;
  font-size: 40px;
}

.next-information-box .next-information-box-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.next-information-box .next-information-box-runner_name {
  font-size: 40px;
  line-height: 60px;
}

.next-information-box .next-information-box-est {
  font-size: 40px;
  line-height: 60px;
}

.logo_area {
  position: absolute;
  top: auto;
  height: 330px;
  display: flex;
  align-items: center;
  bottom: 10px;
  z-index: 10;
  left: -70px;
}

.logo_area .logo {
  width: 650px;
}

.bgm_title {
  position: absolute;
  bottom:0;
  width: 100%;
  padding-right: 50px;
  font-size: 40px;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #111;
  margin-top: 40px;
}

.middle_container {
  height: 430px;
}

.next-information-box .next-information-box-est span {
  padding: 0 60px;
  display: inline-block;
}

.next-information-box .next-information-box-runner_name span {
  padding: 0 60px;
  display: inline-block;
}

.screenshot {
  display: flex;
  right: 240px;
  top: 140px;
  height: 400px;
  position: absolute;
  align-items: center;
  flex-direction: row-reverse;
  font-family: "Kosugi", sans-serif;
}

.screenshot img {
  height: 100%;
}

.screenshot_detail {
  height: 100%;
  font-size: 35px;
  line-height: 50px;
  width: 800px;
  padding: 30px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
}

@keyframes backgroundAnimation {
  0% {
    opacity: 0;
    z-index: -1;
    width: 180%;
    height: 180%;
    top: -10%;
    left: -40%;
    bottom: 0;
    right: 0;
  }  
  1% {
    opacity:1;
  }
  20% {
    opacity:1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
  21% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    z-index: -1;
  }
  41% {
    opacity: 1;
    width: 180%;
    height: 180%;
    bottom: -80%;
    left: -80%;
  }
  60% {
    opacity:1;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
  62% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    z-index: -1;
  }
  81% {
    opacity: 1;
    width: 180%;
    height: 180%;
    top: -80%;
    right: -80%;
  }
  100% {
    opacity:1;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
}

@keyframes backgroundAnimation2 {
  0% {
      opacity:1;
      z-index: -2;
      width: 180%;
      height: 180%;
      top: -10%;
      left: -40%;
      bottom: 0;
      right: 0;
    }
  2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    z-index: -1;
  }
  21% {
    opacity: 1;
    width: 180%;
    height: 180%;
    top: -80%;
    left: -80%;
  }
  40% {
    opacity:1;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
  42% {
    opacity: 0;
  }
  60% {
    z-index: -1;
    opacity: 0;
  }
  61% {
    opacity: 1;
    width: 180%;
    height: 180%;
    bottom: -80%;
    right: -80%;
  }
  80% {
    opacity:1;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
  82% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

.animation {
  /* animation-name: backgroundAnimation; */
  animation-duration: 190s;
  animation-iteration-count:infinite;
  opacity: 0;
  z-index: -1;
  width: 180%;
  height: 180%;
  top: -10%;
  left: -40%;
  bottom: 0;
  right: 0;
}

.animation2 {
  /* animation-name: backgroundAnimation2; */
  animation-duration: 190s;
  animation-iteration-count:infinite;
  opacity:1;
  z-index: -2;
  width: 180%;
  height: 180%;
  top: -10%;
  left: -40%;
  bottom: 0;
  right: 0;
}

.setup-background-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0%;
  left: 0%;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #fff;
  z-index: 10;
}

.bg.-visible:before {
  transform: translate(0, 0);
}

.bg:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 173, 221, 1);
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  content: '';
}

/* テキストのスタイル */
.title {
  display: block;
  color: #fff;
  font-family: 'RocknRoll One', sans-serif;
  text-align: center;
}

.title span {
  display: block;
  opacity: 0;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
}

.title span:first-child {
  transform: translate(0, 40px);
  font-size: 20px;
  transition-delay: 0.25s;
}

.title span:last-child {
  margin-top: 18px;
  transform: translate(0, 30px);
  font-size: 48px;
  transition-delay: 0.45s;
}

.bg.-visible .title span {
  opacity: 1;
  transform: translate(0, 0);
}


